<div class="columns">
    <div class="column is-6">
    {{#each posts }}
    {{log "posts homepage" posts}}
    <div class="box">
        <div class="content">
            <h3 class="title is-3 has-text-centered">{{title}}</h3>
            <p class="has-text-centered">{{content}}</p>
            <p class="has-text-centered">{{user.username}}</p>
            <p class="has-text-centered">{{ date_created}}</p>
        </div>
        <div class="content">
            <a href="/dashboard/post/{{id}}">Edit</a>
        </div>
    </div>
    {{/each}}
    </div>
    <div class="column is-6">
        <!---CREATE INPUT FOR TITLE INPUT FOR CONTENT AND BUTTON FOR USERS TO CREATE NEW POSTS--->
        <!----MAKE SURE CLASSES AND IDS MATS THE ONES ON newPost.JS---->
    </div>
</div>

    <div class="column is-6">
    <form id="new-comment-form" class="card">
        <div class="card-header">
            <h3>Add New Post</h3>
        </div>
    
        <div class="card-body">
            <input type="hidden" id="postTitle" name="postTitle" data-id="{{posts.id}}" />
    
            <label class="form-label" for="newPostTitle">Post Title</label>
    
            <textarea id="newPostTitle" name="newPostTitle" class="form-input"></textarea>
    
            <label class="form-label" for="newPostText">Post Content</label>
    
            <textarea id="newPostText" name="newPostText" class="form-input"></textarea>
    
            <button id="savePost" type="submit" class="btn">Submit</button>
        </div>
    </form>
    </div>
    </div>

{{!-- <footer class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ New Post</a>
</footer> --}}


<script src="/js/newPost.js"></script>