<div class="columns is-centered mt-6">
    <div class="column is-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-header-title"  id="postTitle"data-id="{{posts.id}}">{{posts.title}}</h5>
                </div>
                <div class="card-content">
                   <p class="has-text-centered"> {{posts.content}}</p>
                   <p class="has-text-centered">
                    <small>Written by {{posts.user.username}}</small>
                    <small>on {{posts.date_created}}</small>
                   </p>
                </div>
        </div>
    </div>
    <div class="column is-4">
        {{#if logged_in}}
        <div id="new-comment-form" class="card">
            
            <div class="card-body">
                <div class="field">
                <label class="label" for="commentBody">Add New Comment</label>

                <input id="commentBody" name="commentBody" class="input" placeholder="Write comment..."/>

                <button id="submit-comment-btn" type="submit" class="button is-small is-info">Submit</button>
                </div>
            </div>
        </div>
        {{else}}
        <h3>You need to be logged in To comment</h3>
        {{/if}}
    </div>
</div>
</div>

<div class="columns is-centered">
<div class="column is-6">
        {{#if posts.comments}}
        <h5>Comments</h5>
        {{#each posts.comments}}
        <div class="box">
            <div class="content">
                <div class="card-header">
                    <p><strong>{{user.username}}</strong></p>
                </div>
                <p>{{content}}</p>
            </div>
        
        </div>
        {{/each}}
      
        {{/if}}
</div>
</div>

    <!----CREATE INPUT AN BUTTON FOR USERS TO COMMENT --->
    <!----MAKE SURE CLASSES AND IDS MATS THE ONES ON COMMENT.JS---->
    



<script src="/js/comment.js"></script>